* {
    box-sizing: border-box;
}

:root {
    --primary-color: #FFB900;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
}

/* Common */
a {
    text-decoration: none;
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    min-width: 118px;
    padding: 12px 24px;
    border-radius: 25px;
    background-color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
    color: #FFFFFF;
}


/* ========================= Header ========================= */
.header {
    background-color: #FFFCF4;
}

.header.fixed {
    position: sticky;
    top: -28px;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.header .action-btn {
    min-width: 144px;
    background-color: #171100;
}

.header .action {
    margin-left: 49px;
}

.nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
}

.nav a { 
    position: relative;
    padding: 8px 21px;
    font-size: 1.6rem;
    font-weight: 400;
    color: #5F5B53;
}

.nav a:hover,
.nav li.active {
    /* font-weight: 600; */
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}

.nav li.active a::after {
    position: absolute;
    left: 21px;
    bottom: 6px;
    content: "";
    display: block;
    width: 12px;
    height: 2px;
    background-color: #171100;
    border-radius: 1px;
}

