* {
    box-sizing: border-box;
}

:root {
    --primary-color: #FFB900;
    --font-heading: Sen, sans-serif;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
}

/* Common */
a {
    text-decoration: none;
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    min-width: 118px;
    line-height: 50px;
    border-radius: 999px;
    background-color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
    color: #FFFFFF;
}

.btn:hover {
    opacity: 0.9;
}

.heading {
    font-family: var(--font-heading);
    font-weight: 700;
    letter-spacing: -0.02em;
    color: #171100;
}

.heading.lv1 {
    font-size: 5.8rem;
    line-height: 1.17;
}

.heading.lv2 {
    font-size: 3.8rem;
    line-height: 1.26;
}


/* ========================= Header ========================= */
.header {
    background-color: #FFFCF4;
}

.header.fixed {
    position: sticky;
    top: -28px;
    z-index: 1;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.header .action-btn {
    min-width: 144px;
    background-color: #171100;
}

.header .action {
    margin-left: 49px;
}

.nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
}

.nav a { 
    position: relative;
    padding: 8px 21px;
    font-size: 1.6rem;
    font-weight: 400;
    color: #5F5B53;
}

.nav a:hover,
.nav li.active {
    /* font-weight: 600; */
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}

.nav li.active a::after {
    position: absolute;
    left: 21px;
    bottom: 6px;
    content: "";
    display: block;
    width: 12px;
    height: 2px;
    background-color: #171100;
    border-radius: 1px;
}

/* ========================= Hero ========================= */
.hero {
    padding: 56px 0 65px;
    background-color: #FFFCF4;
}

.hero .body {
    display: flex;
}

/*=========== Hero left ===========*/
.hero .media-block {
    position: relative;
    width: 48%;
}

.hero .media-block .img {
    display: block;
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
}

.hero-summary {
    position: absolute;
    right: 0;
    bottom: 48px;
    width: 270px;
    padding: 24px;
    box-shadow: 0px 16px 32px 0px #0000000D;
    background: #FFFFFF;
    border-radius: 12px;
}

.hero-summary .item {
    display: flex;
    align-items: center;
}

.hero-summary .item + .item {
    margin-top: 22px;
}

.hero-summary .icon {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
    border-radius: 50%;
    background: #FFF9E8;
}

.hero-summary .label {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86;
    color: #5F5B53;
}

.hero-summary .title {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
    color: #171100;
}

/*=========== Hero right ===========*/
.hero .content-block {
    width: 52%;
    padding: 64px 0 0 130px;
}

.hero .desc-hero {
    margin-top: 22px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
    color: #5F5B53;
}

.hero .cta-group {
    display: flex;
    align-items: center;
    margin-top: 38px;
}

.content-block .btn-cta {
    min-width: 180px;
    line-height: 64px;
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
    border-radius: 32px;
}

.content-block .watch-video {
    display: flex;
    align-items: center;
    margin-left: 28px;
    border: none;
    cursor: pointer;
    background: transparent;
}

.content-block .watch-video .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0px 8px 16px 0px #00000012;
    background: #FFFFFF;
}

.content-block .watch-video span {
    margin-left: 14px;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
    color: #171100;
}

.content-block .desc:nth-of-type(2) {
    margin-top: 48px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
    color: #5F5B53;
}

.cta-group .stats {
    margin-top: 8px;
    font-size: 1.8rem;
    font-weight: 400;
    color: #5F5B53;
}

.content-block .stats strong {
    padding-right: 8px;
    font-family: var(--font-heading);
    font-size: 4.4rem;
    font-weight: 700;
    color: #171100;
}

.content-block .stats strong:nth-child(2) {
    margin-left: 28px;
}

/* ========================= Popular ========================= */
.popular {
    display: flex;
    padding: 65px 0;
    margin-top: 135px;
}

.popular-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular-top .desc {
    margin-top: 16px;
    width: 458px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
    text-align: left;
    color: #5F5B53;
}

.popular-top .controls {
    display: flex;
}

.popular-top .control-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    color: var(--primary-color);
    background-color: transparent;
}

.popular-top .control-btn:hover {
    color: #FFF;
    background: var(--primary-color);
    cursor: pointer;
}

.popular .control-btn:nth-child(2) {
    margin-left: 18px;
}







